build:clang --client_env=CC=clang
build:clang --client_env=CXX=clang++

build:asan --copt -fsanitize=address
build:asan --copt -fsanitize-address-use-after-scope
build:asan --linkopt -fsanitize=address
build:asan --test_env ASAN_OPTIONS=strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1
# https://github.com/bazelbuild/bazel/issues/6932
build:asan --copt -Wno-macro-redefined
build:asan --copt -D_FORTIFY_SOURCE=0

build:ubsan --copt -fsanitize=undefined
build:ubsan --linkopt -fsanitize=undefined
