include LICENSE
include README.md
include src/compression.h
include third_party/bitshuffle/LICENSE-APACHE
include third_party/bitshuffle/LICENSE-MIT
include third_party/bitshuffle/src/bitshuffle.h
include third_party/lz4/LICENSE
include third_party/lz4/lib/lz4.h
